<?php
$set[0] = 1;
$set[1] = 0;
$set[2] = 1; 
$set[3] = 1; 
$set[4] = 1;
$set[5] = 1;
$set[6] = 2;
$set[7] = 1;
$set[8] = 1;
$set[9] = 1;
$set[10] = 0;
$set[11] = 1;
$set[12] = 0;
$set[13] = 1;
$set[14] = 0;
$set[15] = 1;
$set[16] = 1;
$set[17] = 1;
$set[18] = 0;
$set[19] = 0;
